ul {
  background-color: #f2f2f2;
}
ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
ul li a {
  display: block;
  padding: 8px 25px;
  color: #333;
  text-decoration: none;
}
ul li a:hover {
  color: #fff;
  background-color: #939393;
}
ul li ul.dropdown {
  background-color: #f2f2f2;
  display: none;
  position: absolute;
}
ul li:hover ul.dropdown {
  display: block;
}
ul li ul.dropdown li {
  display: block;
}
