# Ignore node_modules folder
node_modules/

# Ignore all .log files
*.log

# Ignore build output
dist/
build/

# Ignore environment files
.env

# Ignore OS or editor files
.DS_Store
.vscode/

Practice/
php template practice htmlcss/