body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blanchedalmond;
  height: 100vh;
}
#nav {
  float: left;
  height: 20%;
  width: 100%;
  background-image: url(img02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#nav_left {
  float: left;
  height: 100%;
  width: 20%;
}
#nav_right {
  float: left;
  height: 100%;
  width: 20%;
}
#logo {
  float: left;
  height: 100%;
  width: 60%;
  color: white;
  text-align: center;
}
#web_name {
  float: left;
  height: 100%;
  width: 40%;
  text-align: center;
  padding-top: 60px;
}
#nav_bar {
  float: right;
  height: 100%;
  width: 60%;
  text-align: center;
  padding-top: 95px;
}
#nav_bar a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
#main {
  float: left;
  height: 100%;
  width: 100%;
  background-color: lightcoral;
}
#main_nav {
  float: left;
  height: 10%;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_nav a {
  color: rgb(227, 68, 36);
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}
#main_nav a:hover {
  color: #12a6d4;
}
#footer {
  float: left;
  height: 10%;
  width: 100%;
  background-color: lightblue;
}
