body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  height: 100vh;
}
#nav {
  float: left;
  height: 20%;
  width: 100%;
  background-image: url(img02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#nav_left {
  float: left;
  height: 100%;
  width: 20%;
}
#nav_right {
  float: left;
  height: 100%;
  width: 20%;
}
#logo {
  float: left;
  height: 100%;
  width: 60%;
  color: white;
  text-align: center;
}
#web_name {
  float: left;
  height: 100%;
  width: 40%;
  text-align: center;
  padding-top: 60px;
}
#nav_bar {
  float: right;
  height: 100%;
  width: 60%;
  text-align: center;
  padding-top: 95px;
}
#nav_bar a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
#main {
  float: left;
  height: 120%;
  width: 100%;
}
#main_nav {
  float: left;
  height: 10%;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_nav a {
  color: rgb(227, 68, 36);
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}
#main_nav a:hover {
  color: #12a6d4;
}
#content {
  float: left;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
#content_left {
  float: left;
  height: 100%;
  width: 25%;
}
#content_right {
  float: left;
  height: 100%;
  width: 25%;
}
#content_center {
  float: left;
  height: 100%;
  width: 50%;
}
#content_center_left {
  height: 100%;
  width: 60%;
  float: left;
  color: rgb(129, 129, 129);
}
#content_center_left p,
ul,
ol {
  font-size: small;
  word-spacing: 2px;
}
#content_center_left a {
  color: rgb(227, 68, 36);
  text-decoration: none;
}
#content_center_left a:hover {
  color: #12a6d4;
}
#content_center_right {
  float: left;
  height: 100%;
  width: 40%;
}
#box1 {
  width: 200px;
}
#box1 table {
  border: solid black 1px;
  background-color: #f7f7f7;
}
#box1 th {
  background-color: #61c0de;
  color: white;
  border: solid black 1px;
}
#box1 tr {
  color: rgb(129, 129, 129);
  font-size: small;
}
#box1 a {
  color: rgb(227, 68, 36);
  font-size: small;
}
#box1 a:hover {
  color: #12a6d4;
}
#box2 {
  border: solid black 1px;
  width: 200px;
  background-color: #f7f7f7;
}
#box2 th {
  background-color: #61c0de;
  color: white;
  border: solid black 1px;
}
#box2 td {
  color: #11a6d4;
}
#box2 td,
a {
  font-size: small;
}

#box2 a {
  color: rgb(227, 68, 36);
  text-decoration: none;
}
#box2 a:hover {
  color: #12a6d4;
}
#box3 {
  width: 200px;
  border: solid black 1px;
  font-size: small;
}
#box3 th {
  background-color: #61c0de;
  color: white;
  width: 200px;
  border: solid black 1px;
}
#box3 a {
  color: rgb(227, 68, 36);
}
#box3 a:hover {
  color: #12a6d4;
}
#footer {
  float: left;
  height: 10%;
  width: 100%;
}
#footer_left {
  float: left;
  height: 100%;
  width: 25%;
}
#footer_center {
  float: left;
  height: 100%;
  width: 50%;
  text-align: center;
}
#box4 {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  border: solid black 1px;
}
#box4_th {
  background-color: #61c0de;
  color: white;
  width: 50%;
  height: 100%;
  border: solid black 1px;
}
#box4_th a:hover {
  text-decoration: none;
}
#box4 a {
  color: rgb(227, 68, 36);
}
#box4_th a {
  color: white;
}
#box4 a:hover {
  color: #12a6d4;
}
#footer_right {
  float: left;
  height: 100%;
  width: 25%;
}
