body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../images/img01.gif) repeat-x;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}

h2 {
	font: 1.82em;
	font-weight: normal;
	letter-spacing: -1px;i	
	color: #84E003;
}

p, ol, ul {
	line-height: 1.67em;
}

a {
	color: #18BDF5;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/* Header */

#header {
	width: 778px;
	height: 160px;
	margin: 0px auto;
}

/* Logo */

#logo {
	float: left;
	padding: 40px 0 0 0;
    height: 112px;
    width: 263px;
}

#logo h1 {
	margin: 0;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 3.6em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	padding-right: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 img {
    z-index: 1; 
    left: 435px; 
    top: 54px; 
    position: absolute; 
    height: 34px;
}

#logo p {
	margin: -5px 0 0 0;
	text-transform: uppercase;
	font-size: 1.22em;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 93px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.36em;
	color: #FFFFFF;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #8AD9F3;
}

/* Page */

#wrapper {
	background: url(../images/img03.gif) repeat-x left bottom;
}

#page {
	width: 778px;
	margin: 0px auto;
	padding: 40px 0;
}

/* Content */

#content {
	float: left;
	width: 510px;
}

/* Post */

.post {
}

.post .date {
	float: right;
	width: 76px;
	height: 58px;
	margin: 0;
	padding-top: 2px;
	background: #18BDF5 url(../images/img07.gif);
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

.post .date b {
	display: block;
	margin-top: -5px;
	font-size: 40px;
}

.post .title {
	margin: 0;
	padding: 20px 0 0 0;
	background: url(../images/img05.gif) repeat-x;
	font-size: 1.8em;
}

.post .meta {
	margin: 0 0 30px 0;
	padding: 0;
	color: #C6C6C6;
	line-height:normal;
}

.post .meta a {
	color: #C6C6C6;
}

.post .entry {
	padding-bottom: 30px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 30px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 5px 0;
	background: url(../images/img05.gif) repeat-x left bottom;
}

#sidebar li li a {
	padding-left: 21px;
	background: url(../images/img06.gif) no-repeat 6px 50%;
}

#sidebar h2 {
	padding-left: 20px;
	background: url(../images/img04.gif) no-repeat left center;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar_wrap {
	padding: 0 21px;
}

#calendar caption {
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border: 1px solid #E8E8E8;
}

#calendar thead {
	background: #E8E8E8;
}

#calendar tbody td {
	border: 1px solid #E8E8E8;
	text-align: center;
}

#today {
	font-weight: bold;
}

#prev {
}

#next {
	text-align: right;
}

/* Footer */

#wrapper2 {
	background: #18BDF5;
}

#footer {
	width: 778px;
	margin: 0 auto;
	padding-top: 30px;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer li {
	display: block;
	float: left;
	width: 240px;
	padding-left: 29px;
}

#footer li.first {
	padding-left: 0;
}

#footer li ul {
	margin: 0;
}

#footer li li {
	display: list-item;
	float: none;
	margin: 0;
	padding: 5px 0;
	background: url(../images/img10.gif) repeat-x left bottom;
}

#footer li li a {
	padding-left: 21px;
	background: url(../images/img09.gif) no-repeat 6px 50%;
}

#footer h2 {
	margin-top: 0;
	padding-left: 20px;
	background: url(../images/img08.gif) no-repeat left center;
	color: #FFFFFF;
}

#legal {
	clear: both;
	margin: 0;
	padding: 50px 0;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	color: #FFFFFF;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}


/* Styles for editor and display helpers
----------------------------------------------------------*/
.fields
{
    width:100%;
    float:left;
    padding:5px 0 5px 0;  
}
.display-label,
.editor-label
{
    float:left;
    font-weight:bold;
    width:200px;
}

.display-field,
.editor-field
{
    float:left;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}